@font-face {
    font-family: "Relative-Bold-Italic";
    src: url("../fonts/Relative-Bold-Italic.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Bold";
    src: url("../fonts/Relative-Bold.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Book";
    src: url("../fonts/Relative-Book.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Italic";
    src: url("../fonts/Relative-Italic.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Medium-Italic";
    src: url("../fonts/Relative-Medium-Italic.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Medium";
    src: url("../fonts/Relative-Medium.otf") format("otf");
  }
@font-face {
    font-family: "IntroHeadH-Base";
    src: url("../fonts/IntroHeadH-Base.otf") format("otf");
  }

// MIXINS COLORS

@mixin bright-green {
    color: #50E3C2;
}

@mixin can-blue {
    color: #10364B
}

@mixin can-beige {
    color: #F5EDEB
}

@mixin light-green {
    color: #AAFAEB
}

@mixin bright-red {
    color: #ED6C71
}

@mixin dark-grey {
    color: #2E2E2F
}

@mixin flex {
    display: flex
}

body {
   background-color: #10384A;
   font-family: "Relative-Book";
} 

//RESPONSIVE MOBILE

@media (max-width: 600px) {

    .nav-bar {
        background-color: #F5EDEB;
        padding: 10px;
    }

    h1 {
        color: #69C0AC;
        font-family: "IntroHeadH-Base";
        margin: 0;
        text-transform: uppercase;
        font-size: 2em;
        padding-left: 5px;
    }

    h2 {
        @include dark-grey;
        font-size: 1em;
        margin: 0;
        font-weight: 100;
        font-style: italic;
        padding-left: 5px;

        span {
            font-weight: "bold"
        }
        
    }

    .movies-wrapper {
        @include flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .movie-card {
        background-color: #F5EDEB;
        width: 300px;
        text-align: left;
        margin: 10px;
        

        .movie-image-container {
            // width: 280px;
            // height: auto;
            object-fit: cover;
            
        }

        .movie-info {
            @include dark-grey;
            padding: 10px; 
            
            .movie-plot {
                margin-top: 10px;
                padding-left: 5px;
                font-size: 0.8em;
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 16px; 
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .movie-data {
                @include flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 10px;
    
                .ring {
                    margin: 5px
                }
    
                .movie-numbers {
                    line-height: 1em;
                    margin-left: 5px;
                    font-size: 0.9em;
                    font-weight: bold;
    
                    p {
                        @include flex;
                        align-items: center;
                    }
    
                    .icon {
                        padding-right: 5px;
                    }
                }
            }
        }
    }

}

//RESPONSIVE DESKTOP

@media only screen and (min-width: 600px) {

    .content-box {
        @include flex;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

    .nav-bar {
        background-color: #F5EDEB;
        padding: 10px;
        width: 100vw;
    }

    h1 {
        color: #69C0AC;
        font-family: "IntroHeadH-Base";
        margin: 0;
        text-transform: uppercase;
        font-size: 2em;
        padding-left: 5px;
    }

    h2 {
        @include dark-grey;
        font-size: 1em;
        margin: 0;
        font-weight: 100;
        font-style: italic;
        padding-left: 5px;

        span {
            font-weight: "bold"
        }
        
    }

    .movies-wrapper {
        @include flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
        max-width: 1144px;
    }

    .movie-card {
        background-color: #F5EDEB;
        width: 300px;
        text-align: left;
        margin: 10px;
        

        .movie-image-container {
            // width: 280px;
            // height: auto;
            object-fit: cover;
            
        }

        .movie-info {
            @include dark-grey;
            padding: 10px; 
            
            .movie-plot {
                margin-top: 10px;
                padding-left: 5px;
                font-size: 0.8em;
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 16px; 
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .movie-data {
                @include flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 10px;
    
                .ring {
                    margin: 5px
                }
    
                .movie-numbers {
                    line-height: 1em;
                    margin-left: 5px;
                    font-size: 0.9em;
                    font-weight: bold;
    
                    p {
                        @include flex;
                        align-items: center;
                    }
    
                    .icon {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    
}