@font-face {
    font-family: "Relative-Bold-Italic";
    src: url("../fonts/Relative-Bold-Italic.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Bold";
    src: url("../fonts/Relative-Bold.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Book";
    src: url("../fonts/Relative-Book.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Italic";
    src: url("../fonts/Relative-Italic.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Medium-Italic";
    src: url("../fonts/Relative-Medium-Italic.otf") format("otf");
  }
@font-face {
    font-family: "Relative-Medium";
    src: url("../fonts/Relative-Medium.otf") format("otf");
  }
@font-face {
    font-family: "IntroHeadH-Base";
    src: url("../fonts/IntroHeadH-Base.otf") format("otf");
  }

// MIXINS COLORS

@mixin bright-green {
    color: #50E3C2;
}

@mixin can-blue {
    color: #10364B
}

@mixin can-beige {
    color: #F5EDEB
}

@mixin light-green {
    color: #AAFAEB
}

@mixin bright-red {
    color: #ED6C71
}

@mixin dark-grey {
    color: #10384A
}

@mixin flex {
    display: flex
}

body {
   background-color: #10384A;
   font-family: "Relative-Book";
} 

//RESPONSIVE

@media (max-width: 600px) {

    h1 {
        font-family: "IntroHeadH-Base";
        margin: 5px;
        text-transform: uppercase;
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
        margin-top: 0;
        font-weight: 100;
        font-style: italic;

        span {
            font-weight: "bold"
        }
        
    }

    .movies-wrapper {
        @include flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .movie-card {
        background-color: #F5EDEB;
        width: 300px;
        text-align: left;
        margin: 10px;

        .movie-image-container {
            // width: 280px;
            // height: auto;
            object-fit: cover;
            
        }

        .movie-info {
            padding: 10px;
        }

        .movie-data {
            @include flex;
            align-items: center;
            justify-content: space-around;

            .movie-rating {
                font-family: "IntroHeadH-Base";
                font-size: 3em;

            }
            .ring {
                margin: 5px
            }

            .movie-numbers {
                line-height: 1em;
                margin-left: 5px;
                font-size: 0.9em;
                font-weight: bold;

                p {
                    @include flex;
                    align-items: center;
                }

                .icon {
                    padding-right: 5px;
                }
            }
        }

    }

}